@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

/* other css file imports */
@import url('sections/header.css');
@import url('sections/hero.css');
@import url('sections/about.css');
@import url('sections/popular.css');
@import url('sections/trending.css');
@import url('sections/subscribe.css');
@import url('sections/footer.css');

/* CSS variables for reusablity across all files (including above imported) */
:root {
  --color-primary: rgb(177, 69, 74);
  
  --color-secondary: rgb(18, 18, 18);
  --color-black-200: rgb(2, 2, 2);
  --color-black-300: rgb(51, 51, 51);
  --color-black-400: rgb(31, 30, 49);
  --color-black-500: rgb(85, 85, 85);
  --color-gray-100: rgb(136, 136, 136);

  --color-white: rgb(255, 255, 255);
  --color-creamson: rgb(255, 240, 222);

  --font-secondary: 'Playfair Display', serif;
  --font-primary: 'Plus Jakarta Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 80rem;
  margin: 0 auto;
  font-family: var(--font-primary);
  background-color: var(--color-creamson);
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sushi__subtitle {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: var(--font-primary);

  color: var(--color-primary);
  opacity: 0.8;

  letter-spacing: -0.01em;
}

.sushi__title {
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--font-secondary);

  color: var(--color-secondary);

  margin-top: 1rem;
}

.sushi__description {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: var(--font-primary);

  line-height: 2.25rem;
  letter-spacing: -0.01em;

  color: var(--color-secondary);
  opacity: 0.8;

  margin: 2rem 0px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sushi__hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sushi__hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* START: about us media queries */
@media screen and (max-width: 64rem) {
  .about-us {
    flex-direction: column;
  }

  .about-us__image {
    flex-direction: row;
  }

  .about-us__image-sushi3 {
    border-bottom: none;
    border-right: 0.5rem solid var(--color-creamson);
  }

  .about-us__button {
    display: none;
  }
}

@media screen and (max-width: 46.875rem) {
  .about-us__image {
    flex-direction: column;
  }

  .about-us__image-sushi3 {
    border-bottom: 0.5rem solid var(--color-creamson);
    border-right: none;
  }

  .about-us__button {
    display: block;
    top: 47%;
  }
}

@media screen and (max-width: 34.375rem) {
  .about-us__image-sushi2 img,
  .about-us__image-sushi3 img {
    width: 50%;
    height: 10rem;

    object-fit: contain;
  }

  .about-us__image div {
    padding: 2rem;
  }

  .about-us__button {
    top: 44%;
  }

  .about-us__content {
    padding: 2rem;
  }
}
/* END: about us media queries */

/* START: header media querie */
@media screen and (max-width: 56.25rem) {
  .header__nav {
    background: var(--color-primary);
  }

  .header__menu {
    display: none;
  }

  .header__menu-mobile {
    display: flex;
  }
}

@media screen and (max-width: 34.375rem) {
  .header__logo {
    padding-left: 0;
  }
}
/* END: header media queries */

/* START: hero media queries */
@media screen and (max-width: 66.25rem) {
  .hero {
    flex-direction: column;
  }

  .hero-image img {
    width: 100%;

    transform: matrix(1, 0.05, 0, 1.25, 0, 0) !important;
  }
}

@media screen and (max-width: 46.875rem) {
  .hero-image h2 {
    font-size: 4.375rem;
    line-height: 5.625rem;
  }
}

@media screen and (max-width: 34.375rem) {
  .hero-image h2 {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }

  .hero-content-info {
    padding: 2rem;
  }

  .hero-content-info h1 {
    font-size: 3.75rem;
  }

  .hero-content-info p {
    margin: 2rem 0;
  }

  .hero-content__buttons {
    margin: 2.562rem 0;
  }

  .hero-content__testimonial {
    padding: 2rem;
  }
}
/* END: hero media queries */

/* START: popular media queries */
@media screen and (max-width: 34.375rem) {
  .popular-foods {
    padding: 4rem 2rem;
  }

  .popular-foods__card,
  .popular-foods__card.active-card {
    min-width: 100%;
  }
}
/* END: popular media queries */

/* START: subscribe media queries */
@media screen and (max-width: 34.375rem) {
  .subscription {
    padding: 4rem 2rem;
  }

  .subscription h2 {
    font-size: 4.25rem;
    line-height: 6.25rem;
  }

  .subscription__form {
    flex-direction: column;
    gap: 1.25rem;

    min-width: 100%;
    border-radius: 1.25rem;
    padding: 0;

    border: none;
  }

  .subscription__form input {
    min-height: 3.125rem;

    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0.625rem 1.25rem;
    border-radius: 1.875rem;
  }

  .subscription__form button {
    min-width: 100%;
  }
}
/* END: subscribe media queries */

/* START: trending media queries */
@media screen and (max-width: 64rem) {
  .trending-sushi {
    flex-direction: column;
  }

  .trending-drink {
    flex-direction: column-reverse;
  }

  .trending__image {
    width: 100%;
    background-size: cover;
  }

  .trending__discover {
    display: none;
  }

  .trending__arrow {
    display: none;
  }
}

@media screen and (max-width: 34.375rem) {
  .trending__image img {
    width: 70%;
    height: 70%;
  }

  .trending__content {
    padding: 2rem;
  }
}
/* END: trending media queries */
