.hero {
  min-height: calc(100vh - 4.62rem); /* full height - navbar */
  display: flex;
  overflow: hidden;
}

.hero-image {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.hero-image img {
  width: 120%;
  height: 100%;
  object-fit: contain;
}

.hero-image__overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: var(--color-primary);
  z-index: -1;
}

.hero-image h2 {
  position: absolute;
  bottom: 0;
  padding: 1.25rem;
  color: var(--color-white);
  font-family: var(--font-primary);
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 8.62rem;
}

.hero-content {
  flex: 1.22;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-content-info {
  padding: 4rem;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-content-info h1 {
  font-family: var(--font-secondary);
  font-size: 5rem;
  font-weight: 600;
  color: var(--color-secondary);
}

.hero-content-info p {
  margin: 2rem 0 0 2rem;
  color: var(--color-secondary);
  font-size: 1.12rem;
  font-weight: 400;
}

.hero-content__buttons {
  margin: 2.56rem 0 0 2.56rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.25rem;
}

.hero-content__buttons button {
  cursor: pointer;
}

.hero-content__order-button {
  padding: 1.25rem;
  min-width: 13.25rem;
  border-radius: 2.25rem;
  background: var(--color-secondary);
  color: var(--color-white);
  font-size: 1.12rem;
  font-weight: 500;
  line-height: 1.44rem;
}

.hero-content__play-button {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background: transparent;
  color: var(--color-black-200);
  font-size: 1rem;
  line-height: 1.19rem;
}

.hero-content__play-button img {
  width: 2.88rem;
  height: 2.88rem;
  object-fit: contain;
}

.hero-content__play-button span {
  text-align: left;
}

.hero-content__testimonial {
  padding: 2rem 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  background-color: var(--color-white);
}

.hero-content__customer {
  flex: 1;
  gap: 0.62rem;
}

.hero-content__customer h4 {
  font-size: 3.88rem;
  font-weight: 400;
  font-family: var(--font-secondary);
}

.hero-content__customer p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-secondary);
  opacity: 0.5;
}

.hero-content__review {
  min-width: 12.5rem;
  padding-left: 1.25rem;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.62rem;
  border-left: 1px solid rgba(2, 2, 2, 0.1);
}

.hero-content__review img {
  width: 2.62rem;
  height: 2.62rem;
  object-fit: contain;
}

.hero-content__review p {
  color: var(--color-secondary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5rem;
  opacity: 0.8;
}
