.popular-foods {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  background-image: url(/assets/popular_bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.popular-foods__title {
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4.88rem;
  text-align: center;
}

.popular-foods__filters {
  margin-top: 3rem;
  max-width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.popular-foods__filter-btn {
  padding: 0.62rem 1.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.62rem;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2.88rem;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.56rem;
  cursor: pointer;
  transition: background 0.2s ease-in;
}

.popular-foods__filter-btn img {
  width: 2.25rem;
  height: 2.25rem;
  object-fit: contain;
}

.popular-foods__filter-btn.active,
.popular-foods__filter-btn:hover,
.popular-foods__filter-btn:focus {
  background: var(--color-white);
  color: var(--color-primary);
}

.popular-foods__catalogue {
  margin-top: 4rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.5rem;
}

.popular-foods__button {
  width: fit-content;
  padding: 1.25rem 1.88rem;
  margin: 5rem auto 0;
  color: var(--color-white);
  font-size: 1.12rem;
  font-weight: 500;
  line-height: 1.44rem;
  background: var(--color-secondary);
  border-radius: 4rem;
}

.popular-foods__button img {
  width: 0.88rem;
  height: 0.88rem;
  object-fit: contain;
  margin-left: 1.31rem;
}

.popular-foods__card {
  min-width: 16.25rem;
  height: fit-content;
  padding: 2.38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2.25rem;
}

.popular-foods__card.active-card {
  min-width: 21.25rem;
  background: var(--color-white);
}

.popular-foods__card-image {
  width: 6.88rem;
  height: 5.25rem;
  object-fit: contain;
}

.popular-foods__card.active-card .popular-foods__card-image {
  width: 13.38rem;
  height: 10rem;
}

.popular-foods__card-title {
  margin-top: 2.94rem;
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
}

.popular-foods__card.active-card .popular-foods__card-title {
  color: var(--color-black-500);
  font-size: 2rem;
}

.popular-foods__card-details {
  width: 100%;
  margin-top: 2rem;
}

.popular-foods__card-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.popular-foods__card-rating img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

.popular-foods__card.active-card .popular-foods__card-rating img {
  width: 2rem;
  height: 2rem;
}

.popular-foods__card-rating p,
.popular-foods__card-price {
  color: var(--color-white);
  font-size: 1.25rem;
  font-weight: 300;
}

.popular-foods__card.active-card .popular-foods__card-rating p,
.popular-foods__card.active-card .popular-foods__card-price {
  color: var(--color-gray-100);
  font-size: 1.5rem;
}

.popular-foods__card.active-card .popular-foods__card-price {
  color: var(--color-secondary);
  font-size: 1.5rem;
}